.App {
  text-align: center;
}

FirstTextBox{
  width: 100px;

}

leftcontainer{
  background-color: aqua;
}

input1{
  width: 150px;
}

button {
  width: 75px;
}

table{
  margin: 0 auto; 
  width: 35%;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
